<a href="https://colab.research.google.com/github/Vitalyastiy/cheat-python/blob/main/.%D0%A8%D0%BF%D0%BE%D1%80%D0%B0%20%D0%BF%D0%BE%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Импорт библиотек

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import count
from multiprocessing import cpu_count
data = sns.load_dataset("titanic")
data_set1 = sns.load_dataset("taxis")

In [ ]:
# Создаем диапазон дат
dates = pd.date_range(start='2024-08-01', end='2024-08-10', freq='6H')

# Создаем случайные данные
data = np.random.randn(len(dates))

# Создаем DataFrame
data_set1 = pd.DataFrame({'pickup': dates, 'value': data})

# Устанавливаем индекс и применяем ресэмплинг
data_set1.set_index('pickup').resample('M').median().plot(style='-o', figsize=(10, 5))

In [ ]:
np.arange(1,4)

array([1, 2, 3])

### инфо о df

In [ ]:
data.head()/.tail() # - первые/последние строки
data.info() # - получение сведений о фрейме
data.dtypes # типы данных столбцов
data.describe # - статистическая информация о фрейме
data.pole.value_counts() # - подсчет количества уникалных значений
data.pole.rank(method='dense', ascending = False) # - ранжировать, можно добавить метод dense
data.groupby('user_id')['time_stamp'].rank(method='first', ascending=False).astype(int) #полный аналог row_number
len(data) # - вывести количество строк во фрейме
data.shape/size # - размерность фрейма
print("Shape of the DataFrame:", df.shape)
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
data.sample(5) # data.head(5) # data.tail(5)  # выбор выборки
df.sample(frac = 0.00005) # доля выборки
data.head(3) # - вывести первые 3 записи
data.tail(1) # - вывести последнюю записъ
data[1:4] # - срез. вывести топ значений фрейма

df.dtypes.value_counts() # - получитъ распределение по типам данных
data.isnull().mean() # пропуски во фрейме /df.notnull().mean() - противоположная функция / data.isna().mean() - тоже самое, что isnull
len(data['pole'].unique()) # - количество уникалъных строк во фрейме
data['pole'].unique() # вывод всех уникальных значений
data.nunique() #  - количество уникальных записей по столбцам или строкам
data.columns.tolist() # - получитъ наименования столбцов списком/ -- type(df.columns) - получиить типы данных
data.nlargest(5, 'pole') #- вернет наибольшее число и Nsmallest() - вернет наименьшее,  nsmallest() и nlargest() - противоположные

data.dropna() # - очистить данные таблицу от наловых значений
df = df.dropna (subset=['assists']) # - очистить данные где есть null в конкретном столбце
data.dropna (thresh=50) # - очистить ниже определенного порога
df = df.reset_index(drop=True) # - сбросить индекс
data.pole.shift(1) # -смещение поля на одно значение
data= data[['pole1', 'pole2']] # - создание нового фрейма из подмножества
df.insert(loc=0'''(позиция)''', column='id', value=new_column) #- вставить столбец в определенное место
replace = data.replace(to_replace = 0 , value -9999) # - заменить значения во фрейме
data.rename({'Pole_old':'Pole_new'}, axis = 1 )
data_filled = data.fillna(0) # - замена всех наловых значений на 0
data.drop(columns = ['pole1', 'pole2']) # - удлить столбцы
data.drop_duplicates(keep = 'first') # - удалить дубликаты
data.set_index(['age']) #-установить индекс
######### пропуски в колонках#######################
plt.figure(figsize=(25,10))
#~df.isnull() вернет датафрейм, который содержит значения True для заполненных ячеек и False для пропущенных. Если бы мы написали df.isnull(), то получили бы датафрейм с логическим значением True для пропущенных значений и False для остальных значений.
sns.heatmap(~df.isnull(), cbar=False, cmap=sns.cm.rocket_r).set_title('Темные области - заполненные данные, светлые - пропуски');

In [ ]:
#max find
salesforce_employees.query('manager_id==13' ).groupby(['first_name'],as_index = False)['target'].max().sort_values('target', ascending = False).head(3)
df[df.manager_id==13].nlargest(1, 'target', keep='all')
worker[worker.salary == worker.salary.max()].merge(title, how = 'inner', left_on = 'worker_id', right_on = 'worker_ref_id')[['worker_title']]
yelp_reviews[['business_name', 'review_text']][yelp_reviews['cool'] == yelp_reviews['cool'].max()] # найти максимум

yelp_business.query('`stars`==5').groupby('state', as_index = False)['business_id'].count().nlargest(5,"business_id",keep="all")

### Даты

In [ ]:
df.query('`joining_date`.dt.month >= 4 & `department` == "Admin"')['worker_id'].count() #.dt.month - вырезает месяц выборки
df.groupby([df['time'].dt.to_period('M'), 'action_type'])['user_id'].nunique().reset_index()# dt.to_period('M')== '2019-03'
df.loc[orders.order_date.dt.to_period('M') == '2019-03', ['cust_id', 'total_order_cost']].groupby('cust_id', as_index=False).sum().sort_values('total_order_cost', ascending=False)
df['shipment_date'].dt.strftime('%Y-%m') # перестраивает формат

### Преобразования

In [ ]:
df.explode('cat') # разбивает список на элементы списка
professors['Country'] = professors['Country'].str.lower()# convert to lower case
professors['Country'] = professors['Country'].str.strip() # удаляет пробелы
airbnb_search_details.amenities.str.split(',')# разбивает массив в список по разделителю - .str.len() посчитать элементы списка
t[['lon', 'lat']] = t['Coordinate'].str.split(' ', expand=True) # разбить на 2 столбца
t['lon'] = t['lon'].str.strip('(') # удалить символ в подстроке

In [ ]:
# qcut  - пример, как использовать собственную разбивку на кат. группы
data = pd.read_csv('https://raw.githubusercontent.com/FBosler/AdvancedPlotting/master/combined_set.csv')
# присваиваем метки каждому году
data['Mean Log GDP per capita']  = data.groupby('Year')['Log GDP per capita'].transform(pd.qcut,  q=5,   labels=(['Lowest','Low','Medium','High','Highest']))

In [ ]:
data.rename(columns={"gkgk": "colu"}) # - переименоватъ столбец
data.rename(columns=dict(sector_name='region', region='locale'))
df.drop_duplicates (subset=['team', 'points']) # удалить дубли в определенных столбцах -- df.drop_duplicates (keep= False ) для полной очистки от дублей

### Фильтрация

In [ ]:
region = 'Center'
quat = '2022-01-01'
df.query('Region == @region & Quarter == @quat') ## метод фильтрации квери

In [ ]:
user_flags[user_flags['flag_id'].isna() == False] # notna() isnull()

df[~df['name_x'].isin(df_red['name_x'])] #сравнение 2х столбцов дф

In [ ]:
df.query("jobtitle.str.contains(~'Москва|Петербург', case=False)")[['employeename',	'basepay']] # case=False  аналог ловвер и аппер в sql #аналог like в SQL/ поиск по подстроке
yelp_business['categories'].str.split(";") #разбить строку на подстроки
google_file_store['contents'].str.findall(' bull ').explode().count()###############Найти слово в df
google_file_store['contents'].str.findall(' bear ').apply(len).sum()###############Найти слово в df
data['sector_name'].fillna('NaN').value_counts().sort_values(ascending=False) # найти NaN
data.filter(like='la', axis=1) # - выбрать столбцы в наименовании которых есть...
data.drop(['colu'], axis=1).head() # - удаление столбца из фрейма данных
data.append(data2.sum(axis=0), ignore_index=True) # - сумма по столбцу
data[data['acell'].isin(['NN002998_I','NN002998_I'])] # -филътр
data[data['acell'] == 'NN002998_I'] #(><) -филътр, для единственного значения
df_filter = df ['ID']. isin (['A001', 'C022', ...])  # выбор строк с конкретными идентификаторами
m_data = data[data['sector_name'].isnull()] # шаг 1. кол-во нулевых
n_data = len(m_data) #  шаг 2. кол-во нулевых
n_data = data.sector_name.isnull().sum() # v2 кол-во нулевых
m_data = pd.isnull(data.sector_name).sum() # v3 кол-во нулевых
df['поле'].isin(['F']) # вернет тру/фолс
data['pole1'].where(data['pole1']>=25) # проверка структуры данных
df['cat'] = df['categories'].str.split(";") #раздлитель превращает в список


### Агрегация

In [ ]:
activities.groupby('sell_date')['product'].agg([('num_sold', 'nunique'), ('products', lambda x: ','.join(sorted(x.unique())))]).reset_index()
# как применить к двум столбцам лямбду

df.groupby(['team'], as_index = False)['points'].nunique() # - группировка и посчет уникальных значений для одного столбца
df.groupby(['team'], as_index = False)['points'].unique() # DataFrame.nunique пропускаются отсутствующие значения, поскольку параметр по умолчанию dropna=True/ Series.unique функция отсутствует не пропускает
df.groupby(['pole1'], as_index=False).agg({ "pole2": pd.Series.nunique, "pole3": "count"}) #-группировка и посчет уникальных значений
data.groupby('pole1').count() //mean() // median() // size() # - группировка по полю для всего df
data.groupby('t1.acell')['t2.ne_id'].max().sort_index() # присваиваем индекс аселу и выводим макимальное значение из не_ид, сортируем от меньшего
data.groupby('report_date').report_date.size() #(count-разница?) вывести количество записей, аналог гроуп бай
data.groupby(['t1.acell']).ne_id.agg([len, min, max]) # группировка с агрегацией и расчетом
data.pivot(index='time', columns='action_type', values='user_id')
data.pivot_table(index = 'company_name', columns = 'year', values = 'product_name', aggfunc = 'count' ).reset_index()

df.groupby(pd.Grouper(key='create_date_x', freq='M')).agg({"msisdn": "count",  "nps_key": "mean"}) # группирвка сразу до месяца в запросе

Объединение

In [ ]:
pd.concat([A, B]) # по умолчанию axis = 0
pd.concat([A, B], axis=1) # левый к правой
pd.concat([df1, df2], ignore_index=True)  #- union all
pd.concat([X, Y]).drop_duplicates(keep=False) #- union
df = db_employee.merge(db_dept, right_on= 'id', left_on= 'department_id' , suffixes=('_left', '_right'))
df = pd.merge(exp_new, diss_new[['Region', 'Category_fit']], left_index= True, right_index=True, how='left') # джойн по индексу
df = pd.merge(left=df_a, left_on['A'], right=df_b, right_on=['B'], how='inner') #- merge (вывод новых столбцов)
df = pd.merge(df1, df2, how='inner', left_on=['t1.region', 't1.acell'], right_on = ['Region','ACELL'], suffixes = ['_c','_o']) #- suffixes - добавит суфиксы для столбцов, если есть столбцы с одинаковым названием

### пример ###
data_set1 = {'Name': ['Rohit', 'Mohit', 'Sohit', 'Arun', 'Shubh'],
             'Roll no': ['01', '02', '03', '04', '05'],
             'maths': ['93', '63', '74', '94', '83'], 'science': ['88', '55', '66', '94', '35'], 'english': ['93', '74', '84', '92', '87']}
data_set2 = {'Name': ['Karan', 'Rishu', 'Swetank', 'Rishabh', 'Shuvam'],
             'Roll no': ['06', '07', '08', '09', '10'], 'maths': ['95', '62', '64', '14', '63'], 'science': ['58', '59', '86', '74', '55'], 'english': ['96', '77', '89', '42', '87']}
# Changing the above dictionary into dataframe
df1 = pd.DataFrame(data_set1)
df2 = pd.DataFrame(data_set2)
# Concating both the dataframes
pd.concat([df1, df2], keys=['Set1', 'Set2'], ignore_index=True) #axis=1)

### Сотрировка

In [ ]:
df.sort_values('likes', ascending=False, kind="mergesort")#По умолчанию используется алгоритм quicksort.
#Параметр kind позволяет выбрать алгоритм сортировки: quicksort(Быстрая сортировка), mergesort (Сортировка слиянием) или heapsort (Пирамидальная сортировка).
df.pole.sort_values(ascending = False) # - второй вариант
data.sort_values(by=['min', 'max'], ascending=True) # сортировка данных по нескольким столбцам


Загрузка и выгрузка данных во фрейм

In [ ]:
df = pd.read_csv('тест.csv', parse_dates=['date'],  dayfirst=True) # автоконвертация текста в даты
df = pd.read_csv('тест.csv', parse_dates=[['год','месяц','день']]) # «год», «месяц», «день», то при импорте данных их можно объединить, передав через параметр «parse_dates» список списка наименований столбцов
df = pd.read_csv(r"C:\Users\....Desktop\nnn\NN.csv",  sep=',' , encoding='latin-1') #, index_col=0 - индекс
after = before.encode("utf-8", errors="replace")# конвертировать столбец
print(after.decode("utf-8"))# показать
df[:10].to_csv('saved_ratings.csv', index=False) # экспортироватъ первые десятъ строк
data_copy = df.copy(deep=True) #shallow - поверхностное копирование фрейма
df.to_csv('02-03_new.csv', header=True, index=False) # экспорт в csv
pd.read_csv('file.csv', usecols=['A', 'B']) # - считать только нужные столбцы
#определить тип кодировки
import charset_normalizer
# look at the first ten thousand bytes to guess the character encoding
with open('train.csv', 'rb') as rawdata:
    result = charset_normalizer.detect(rawdata.read(10000))
# check what the character encoding might be
print(result)
#изменить кодировку на ютф
before = sample_entry.decode("big5-tw")
new_entry = before.encode()

Типы данных

In [ ]:
students['grade'].astype(int) #изменить тип данных
data['col_new'] = data['col'].astype('float') # - изменить тип данных


#все ячейки в “Date” конвертируются в даты. Затем лишние строки удаляются с помощью dropna().
df['Date'] =pd.to_datetime(df['Date'])
df.dropna(subset = ['Date'], inplace = True)

amazon_shipment['year-month'] = amazon_shipment['shipment_date'].dt.strftime('%Y-%m') # изменить формат вывода даты
amazon_shipment['year-month'] = amazon_shipment['shipment_date'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m'))# изменить формат вывода даты, через лямбду
no_2.resample("D").mean().plot(style="-o", figsize=(10, 5));
df['new_month'] = pd.to_datetime(df['new_month']).dt.date # - перевести в дату
landslides['date_parsed'].dt.day

# визуализировать дни
sns.distplot(day_of_month_landslides, kde=False, bins=31)

# посчитать количество дат разных форматов
date_lengths = earthquakes.Date.str.len()
date_lengths.value_counts()

landslides['date_parsed'] = pd.to_datetime(landslides['date'], format="%m/%d/%y")
landslides['date_parsed'] = pd.to_datetime(landslides['Date'], infer_datetime_format=True) угадать формат
df['days'] = (pd.Timestamp('today') - df['date']).dt.days # разность между дат, для получения количества дней


#изменение типов по отдельности
earthquakes.loc[20650, "Date"] = "03/13/2011"
earthquakes['date_parsed'] = pd.to_datetime(earthquakes['Date'], format="%m/%d/%Y")

#изменение гранулярности даты
amazon_shipment['shipment_month'] = amazon_shipment['shipment_date'].dt.strftime('%Y-%m')
df['year_month'] = pd.to_datetime(df['shipment_date']).dt.to_period('M')

Регулирование количества столбцов или строк для отображения

In [ ]:
pd.set_option('display.max_rows', 10)  #Сброс ограничений на количество выводимых рядов
pd.set_option('display.max_columns', 10)  # Сброс ограничений на число столбцов
pd.set_option('display.max_colwidth', 10)   # Сброс ограничений на количество символов в записи

Создать табличку

In [ ]:
pd.DataFrame({
    'word': ['bull', 'bear'],
    'nentry': [bull,bear]})

import pandas as pd
# Создание DataFrame с данными
data = {'Имя': ['Анна', 'Мария', 'Иван', 'Петр'],
        'Город': ['Москва', 'Санкт-Петербург', 'Казань', 'Екатеринбург']}
df = pd.DataFrame(data)



Создание серии из списка:

import pandas as pd
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)

Количество пустых строк

In [ ]:
df_kc.isna().sum()[df_kc.isna().sum() > 0]
[(n, df_kc[n].isnull().sum()) for n in df_kc.columns if df_kc[n].isnull().any()]
tuple((n, df_kc[n].isnull().sum()) for n in df_kc.columns if df_kc[n].isnull().any())

#найти наиболее часто встречающее значение(моду) и перевести его в датафрейм
orders['customer_number'].mode().to_frame()

In [ ]:
### конкатенация строк, если одна из них Null
df = user_flags.query('flag_id.notna()')
df['con'] =  df.user_firstname.fillna('') + df.user_lastname.fillna('')
df.groupby(['video_id'],as_index = False).agg({'con':'nunique'})

# Функции

###Функции(def)

In [ ]:
sf_restaurant_health_violations.head()
sf_restaurant_health_violations["business_name"] = sf_restaurant_health_violations["business_name"].str.lower()
def func(business_name):
    if  'cafe' in business_name or 'café' in business_name or 'coffee' in  business_name:
        return 'cafe'
    elif 'restaurant' in business_name:
        return 'restaurant'
    elif 'school' in business_name:
        return 'school'
    else:
        return 'other'
sf_restaurant_health_violations['business_type'] = sf_restaurant_health_violations['business_name'].apply(func)
sf_restaurant_health_violations[['business_name', 'business_type']].drop_duplicates()

In [ ]:
df.apply(lambda row: (row['pole1'],  row['pole2']), axis=1) # построчное применение функции
level_map = {1: 'high', 2: 'medium', 3: 'low'} # преобразования данных
df['c_level'] = df['c'].map(level_map) #
###парс даты из произвольного формата###
from datetime import datetime
custom_datetime = lambda x: datetime.strptime(x, '%d%m%Y %H:%M:%S')
df = pd.read_csv('тест2.csv', parse_dates=['date'], date_parser=custom_datetime)

In [ ]:
#Пример: добавить новый столбец на основе условий
def new_stat (row):
  if 'Есть' in row['Вариант1']:
    return 'Свой'
  elif ...
  else:
    ('')
df_full['flag']=df_full.apply(new_stat, axis = 1)

##Операции над значениями

In [ ]:
df['pole1'].round(2) # округлить
df['pole1'].nunique() # посчитать уникальнных
df1["pole2"].cumsum() # накопительный итог
data["sex"].replace({"male": "m", "female": "f"}) # изменить значения в подстроке

##loc iloc

In [ ]:
data.iloc[:0]  # вывести шапку
data.iloc[552] # вывод СПИСОК строки по номеру
data.iloc[552] # вывод строки по индексу
data.iloc[0:5] # вывести первые 5 значений, с 0 до 4
data.loc[0:5]  # вывести первые 6 значений, с 0 до 5
data.recdate  #data['recdate'] #data.iloc[:,0]#  вывод столбца в формате списка
data.iloc[2,1] # data.loc[2,'ACELL'] вывести 3 строку из 2-ого столбца
data.iloc[:3,1] #data.iloc[0:3,1]#data.iloc[[0,1,2],1]  вывести количество строк из столбца
data.iloc[-3:,1] #  вывести второе значение снизу, второго столбца
data.iloc[:, 0:2] # вывести всю информацию по двум столбцам
data.iloc[3, [1, 2, 3]] # список третьей строки по первым 3м столбцам
data.loc[1:5, 'ACELL': 'Region'] # вывод таблицы с первой по пятаю, 2 столбца
data.iloc[[0]] # вывести первую строку
data.loc[:,['recdate','ACELL','Region','flag']] # print all
data.loc[data.flag.isin(['100', '50'])] # филътр несколъко условий
data.loc[data.flag.isnull()]
data.loc[data.flag.notnull()]
data[data['t2.ne_id'].isnull()] # вариация поиска нулевых значений
############## Примеры фильтров выводом фрейма
data.loc[data['ACELL'] == 'NN000231_A'] # вывести отфильтрованную таблицу
data.loc[data.ACELL == 'NN000231_A'] # то же что и предыдущее
data.loc[data.flag == '0'] # филътр на таблицу с выводом всего датафрейма
data.loc[(data.flag == '0') & (data.recdate =='2022-02-28 23:00')] # склеенный фильтр на таблицу
data.loc[(data['ACELL'] == 'NN000231_A' ) & (data['recdate'] == '2022-02-20 16:00'), 'recdate':'flag'] # пример склеенного фильтра
###### replace ######
data.loc[data['ACELL'] == 'NN000231_A'] = 'BIG'
data.loc[data['ACELL'] == 'NN000231_A', 'ACELL':'Mean_flag_integrity 4G (%)'].head() # пример реплэйса с фильтром и выводом

## Рандомы

In [ ]:
random #   Возвращает случайное вещественное число в промежутке от 0 до 1.
uniform #  Возвращает случайное вещественное число в указанном промежутке.
randint #  Возвращает случайное целое число в пределах заданного промежутка.
randrange #Возвращает случайное целое число в пределах заданного промежутка (можно указать шаг).
gauss  #   Возвращает случайное вещественное число, основываясь на Гауссовом распределении.
choice #   Возвращает случайный элемент из заданной последовательности.
shuffle#   Перемешивает элементы случайным образом (работает только с изменяемыми объектами).
sample #   Возвращает новый список со случайным выбором неповторяющихся элементов (2-м аргументом нужно указать длину нового списка).

## Поиск максимального символа в подстроке

In [ ]:
s = input()[::-1]
print(max(s, key=s.count))

# Визуализация

resample

In [ ]:
data_set1.set_index('pickup').resample("D").median().plot(style="-o", figsize=(10, 5)) #установить индекс с ресамплом построить ряд
#Resample нужен для перерасчета или изменения шага времени данных, можно изменять частоту временных данных и изменять их размер
#Создаем временной ряд с данными о продажах ежедневно
#Изменяем размер данных: ежедневные данные на среднемесячные данные  ---   monthly_temp = daily_temp.resample('M').mean()

# Итерации

Иттерации по фрейму

In [ ]:
## создать тестовые данные
df = pd.DataFrame([[1, "A"], [2, "B"], [3, "C"]], columns = ["col1", "col2"])
print(df)
# итерация по тестовым данным
print("Method 1:", end = " ")
for index in range(len(df)):
    print(df["col1"][index], end = " ")

print("\nMethod 2:", end = " ")
for index, row in df.iterrows():
    print(row["col1"], end = " ")

print("\nMethod 3:", end = " ")
for row in df.itertuples():
    print(row.col1, end = " ")

   col1 col2
0     1    A
1     2    B
2     3    C
Method 1: 1 2 3
Method 2: 1 2 3
Method 3: 1 2 3

In [ ]:
# итерация с примером
data=data.rename(columns={"class": "class_"})
f = 0
for i in data.itertuples():
    if i.class_ ==  'Third':
      f += 1
print(f)
f = 0
for i, row in data.iterrows():
  if row['class_'] == 'Third':
    f += 1
print(f)

f = 0
for i in range(len(data)):
  if data['class_'][i] == 'Third':
    f += 1
print(f)

491
491
491

# Примеры

In [ ]:
# pivot
t = pd.merge(ms_user_dimension, ms_acc_dimension, on = 'acc_id', how = 'left')
df = pd.merge(t, ms_download_facts, on = 'user_id', how = 'left')

df = df.pivot_table(index='date', columns='paying_customer', values='downloads', aggfunc='sum')
df[df['no']>df['yes']].reset_index()

In [ ]:
#аналог кейса
df = sf_restaurant_health_violations.copy()
df['business_type'] = np.where(df['business_name'].str.contains('restaurant', case = False ),'restaurant',
    np.where(df['business_name'].str.contains('cafe|café|coffee', case = False ),'cafe',
    np.where(df['business_name'].str.contains('school', case = False ),'school', 'other')))

result = df[['business_name','business_type']].drop_duplicates()

In [ ]:
# concat конкатенация
import pandas as pd
new_df = pd.concat([df1, df2], axis = 0, ignore_index=True)
Здесь указан параметр axis = 0, который указывает, что конкатенация должна быть выполнена по вертикали (т.е. строки из 'df2' добавляются внизу строк из 'df1'). Параметр ignore_index=True используется для того, чтобы перенумеровать строки в результирующем DataFrame.
Оператор '+'. Данный оператор можно использовать для объединения двух DataFrame по вертикали, но оба DataFrame должны иметь одинаковый набор столбцов (порядок столбцов не важен).
Например:
new_df = df1 + df2
Здесь 'df1' и 'df2' должны иметь одинаковый набор столбцов, а оператор '+' выполняет поэлементное сложение по всем строкам с одинаковыми индексами.
Метод append из библиотеки pandas. Этот метод делает примерно тоже самое, что и метод concat, но может быть более удобен для объединения небольших DataFrame.
Например:
new_df = df1.append(df2, ignore_index=True)
Здесь 'df1' и 'df2' объединяются по вертикали, а параметр ignore_index=True используется для перенумерации строк в результирующем DataFrame.

In [ ]:
# максимальные по группам
t = employee.groupby(['department'], as_index = False)['salary'].max()
pd.merge(employee, t ,  on = ['department', 'salary'], how = 'inner')[['department',	'first_name',	'salary']]

df = employee[['first_name', 'department', 'salary']]
df['rank_in_salary'] = df.groupby('department')['salary'].rank(method = 'min', ascending = False)
top = df.loc[df['rank_in_salary'] == 1][['department','first_name', 'salary']]

df = employee[employee['salary']==employee.groupby('department')['salary'].transform('max')]
df[['department', 'first_name', 'salary']]

In [ ]:
#поиск по подстроке
des = r'\b(plum|cherry|rose|hazelnut)\b'
winemag_p1.query('description.str.contains(@des, case=False)')['winery'] #case=False без учета регистра

In [ ]:
#####найти среднее время проведенное на сайте
pl = facebook_web_log.query('action == "page_load"')
pl['day']=pl['timestamp'].dt.date
pl = pl.groupby(['user_id',	 'day'], as_index = False).max()

pe = facebook_web_log.query('action == "page_exit"')
pe['day']=pe['timestamp'].dt.date
pe = pe.groupby(['user_id',	 'day'], as_index = False).min()

df = pd.merge(pl, pe, on = ['user_id', 'day'], how = 'inner')
df['diff'] = df['timestamp_y'] - df['timestamp_x']
df.groupby(['user_id'], as_index = False)['diff'].apply(np.mean) # если ошибка данных, можно применить апплу с нампи

SQL Lead и Lag на питоне

In [ ]:
# аналог row_number()
# Создаем DataFrame
df = pd.DataFrame({'group': ['A', 'A', 'B', 'B', 'B'], 'value': [10, 20, 30, 40, 50]})
# Пронумеровать строки в каждой группе
df['row_number'] = df.groupby('group').cumcount() + 1
# Пронумеровать все строки
df['row_number'] = list(range(1, len(df) + 1))

In [ ]:
# Start writing code
sf_transactions['cr_dt'] = sf_transactions.created_at.dt.strftime('%Y-%m')
t = sf_transactions.groupby(['cr_dt'], as_index = False)['value'].sum()

t['lag'] = t['value'].shift(1)
t['revenue_diff_pct'] = round(((t['value'] - t['lag'])/ t['lag'])*100, 2)
t[['cr_dt', 'revenue_diff_pct']]


# v2
sf_transactions.head()
res = sf_transactions.set_index('created_at')['value'].resample('M').sum().pct_change()*100
res.round(2).to_period().reset_index()

In [ ]:
df['lag'] = df.groupby('user_id')['created_at'].shift(1) # lag с партицией

In [ ]:
df = pd.DataFrame({'DATE': [1, 2, 3, 4, 5],
                   'VOLUME': [100, 200, 300,400,500],
                   'PRICE': [214, 234, 253,272,291]})
#Мы можем легко вычислить среднюю цену акций за три последних дня и создать новый столбец, как показано ниже:
df['LAST_3_DAYS_AVE_PRICE'] = (df['PRICE'].shift(1,fill_value=0) +
                               df['PRICE'].shift(2,fill_value=0) +
                               df['PRICE'].shift(3,fill_value=0))/3

#Можно пойти дальше и получить значение из следующего временного интервала или ряда:
df['TOMORROW_PRICE'] = df['PRICE'].shift(-1,fill_value=0)

In [ ]:
#Добавление нового столбца в заданном месте датафрейма
df['Population density'] = df['City Population']/df['City Area']
df.insert(loc=3, column='Population density', value=(df['City Population']/df['City Area']))

In [ ]:
#для нахождения уникальных значений:
b = pd.Series(['ab','bc','cd',1,'cd','cd','bc','ab','bc',1,2,3,2,3,np.nan,1,np.nan])
b.value_counts()

In [ ]:
#Выбор столбца на основе типа данных
df.select_dtypes(exclude=['int64','float64'])
df.select_dtypes(include='number',exclude='float64')

In [ ]:
#mask() для условия if-else #Обратимся к датафрейму, в котором нужно изменить знак всех элементов, кратных двум без остатка.
df = pd.DataFrame(np.arange(15).reshape(-1, 3), columns=['A', 'B','C'])
print(df)
#С помощью mask проверяем делится ли элемент на 2 без остатка.
#При соотвествии условию меняем знак элемента
df.mask(df % 2 == 0,-df)

In [ ]:
###################   Other...
df = data.append(new_row, ignore_index=True) # добавляет элемент в конец списка
df = data.drop(['t1.macroregion'], axis = 1) # удалить столбец
df_copied = df.copy() # поверхностное и глубокое копирование
df['vol_new'] = round(df['ut_driver']) # округлить до выделенного значения
# Перебор строк во фрейме()
for idx,row in df2[:1].iterrows():
    print(idx, row)
#%%
data ['acell'].tolist() # - перевести в список стлбец
data['colu'] = True # - добавитъ столбец во фрейм данных
###кейс с фильтрацией:
data['t1.region'].unique() #  вывести уникальные значения фрейма
data = data.set_index('t1.region') # присвоить индекс
data.drop(['RYAZAN', 'TVER'],axis = 0) # установить фильтрацию по столбцу и дропнуть эти данные во фрейме

In [ ]:
#''' alt+shift+A ''' - закомитить строку
#ctrl+/ - закомитить строку

In [ ]:
#Генерация данных
import random
print(*[random.randint(1, 12) for i in range(12)])
lst = [int(i) for i in range(1, 13)]
random.shuffle(lst)
print(*lst)
for _ in range(12):
   num = random.randint(1, 12)
   print(num)

In [ ]:
# Создадим DataFrame
df1 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35], 'salary': [50000, 60000, 70000]})

In [ ]:
#heatmap - без половины
import matplotlib.pyplot as plt
# Создать случайную матрицу корреляционных коэффициентов
corr_mat = np.random.rand(10, 10)
# Получить верхний треугольник корреляционной матрицы
mask = np.triu(np.ones_like(corr_mat, dtype=bool))
# Отобразить heatmap с верхним треугольником
sns.heatmap(corr_mat, mask=mask)
# Показать график
plt.show()

# Регулярки

In [ ]:
#найти серийник в подстрокое
products[products['description'].str.contains(r'SN\d{4}-\d{4}(?!\d)', regex=True)]
#~ - оператор для работы с регулярными выражениями в PostgreSQL
# SN - ищет буквы "SN" в точности
# \d{4} - ищет ровно 4 цифры
# - - ищет знак тире
# \d{4} - ищет еще 4 цифры
# (?!\d) - это негативный просмотр вперед, который проверяет, что после найденных 4 цифр НЕ идет еще одна цифра




Функция `re.findall(r'\d+', a)` используется для поиска всех подстрок в строке `a`, которые содержат одну или более цифр подряд. Вот как это работает:

- `\d` - это метасимвол, который соответствует одной цифре (от 0 до 9).
- `+` - это квантификатор, который указывает, что предыдущий элемент (в данном случае `\d`) должен встречаться один или более раз.

Таким образом, регулярное выражение `\d+` будет искать любую последовательность цифр в строке `a`. Функция `re.findall()` возвращает список найденных совпадений.

Например, если строка `a` равна "abc123xyz45", то `re.findall(r'\d+', a)` вернет список `['123', '45']`, так как это единственные последовательности цифр в строке.

In [ ]:
import re  # Импорт модуля re для работы с регулярными выражениями
s = []  # Создание пустого списка для хранения символов из ввода
word = input()  # Запрос ввода пользователя
# Цикл для обработки каждого символа во введенном слове
for i in range(len(word)):
    if word[i] == '-' or word[i] == '_' or word[i] == ' ':  # Проверка на наличие символов '-', '_', или пробела
        s += ' '  # Добавление пробела к списку s
    else:
        s += re.sub(r'[^a-zA-Zа-яА-Я0-9]', '', word[i])  # Использование регулярного выражения для фильтрации символов

result = ''.join(s)  # Объединение символов в строку
result = ' '.join(result.split())  # Удаление лишних пробелов путем разделения строки по пробелам и объединения обратно
print(result.lower())  # Вывод результирующей строки в нижнем регистре

# fuzzywuzzy

In [ ]:
#найти ближайшие по похожести текста
import fuzzywuzzy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
t = df['SaleType'].unique()
#df['0'].fillna("", inplace=True)
matches = fuzzywuzzy.process.extract("south korea", t, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
matches
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings,
                                        limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]
    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)
    # replace all rows with close matches with the input matches
    df.loc[rows_with_matches, column] = string_to_match
    # let us know the function's done
    print("All done!")
#Now that we have a function, we can put it to the test!
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")