# Тест

In [ ]:
table

id1   id2
null  3
4     1
7     null
null  null
4     5

In [ ]:
Найти:

SELECT min(id1) FROM table = 
SELECT max(id1) FROM table = 
SELECT sum(id1) FROM table = 
SELECT sum(id1+id2) FROM table = 
SELECT avg(id1) FROM table = 
SELECT sum(5) FROM table = 
SELECT count(*) FROM table = 
SELECT count(1) FROM table =
SELECT count('id1') FROM table = 
SELECT count(id1) FROM table = 
SELECT count(distinct id1) FROM table = 
SELECT sum(COALESCE(id1, 0)) FROM table =

### Блок 1

**Таблица employees, содержит информацию о сотрудниках:**

In [ ]:
id	name	    city	department	salary
1	  Дарья	    Рязань	hr	        70
2	  Борис	    Рязань	hr	        78
21	Елена	    Рязань	it	        84
22	Ксения	  Москва	it	        90
23	Леонид	  Рязань	it	        104
24	Марина	  Москва	it	        104
25	Иван	    Москва	it	        120
41	Вероника	Москва	sales	      96
52	Григорий	Рязань	sales	      96
53	Анна	    Москва	sales	      100

1. Необходимо вывести общие затраты компании на зарплату сотрудникам **нарастающим итогом** для каждого отдела. Проанализировать полученный результат. 
Должен появиться отдельный столбец, который покажет нарастающий итог в разрезе департаментов, пример в HR отделе 1 строка будет 70, второая - 148

2. Необходимо написать запрос, который выведет отдельным столбцом к текущей таблице среднюю зарплату по каждому городу

3. Необходимо написать запрос для расчета разницы в зарплате между текущим сотрудником и следующим сотрудником в том же отделе (сортировка таблицы уже произведена).

### Блок 2

In [ ]:
#синтетический df
#запустить!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')
import seaborn as sns

n = 500  # количество записей
dates = pd.date_range(start='2023-01-01', periods=n, freq='D')
user_ids = np.random.randint(1, 100, n)
action_types = np.random.choice(['click', 'purchase', 'login'], n)
client_platforms = np.random.choice(['iOS', 'Android', 'Web'], n)

# Создание DataFrame
data = {
    'time': dates,
    'user_id': user_ids,
    'action_type': action_types,
    'client_platform': client_platforms
}
df = pd.DataFrame(data)

# Вывод первых 5 строк данных
df.head()

1. Найдите среднее количество действий на одного пользователя.

2. Подсчитайте, сколько пользователей использовали более одной платформы.

3. Вывести количество уникальных пользователей, которые использовали платформу IOS в 2023 году

4. Необходио визуализировать временной ряд, который отражает кол-во уникальных пользоватлей по каждому событию за каждый месяц, вне зависимости от платформы